h1{
    background-color: red;
}

h2{
    background-color: green;
}
h3{
    background-color: greenyellow;
}
h4{
    background-color: grey;
}
h5{
    background-color: hotpink;
}
h6{
    background-color: rgb(121, 130, 0);
}
div{
    text-align: center;
    width: 500px;
    height: 600px;
    
}