#ig1{
    width: 300px;
    height: 350px;
}
#ig2{
    width: 300px;
    height: 400px;
}
#ig3{
    width: 300px;
    height: 400px;
}
body{
    background-color: lightcoral;
}
h1{
    text-align: center;
}
a:hover{
    color: purple;
}